.alert-box {
	padding: 10px 20px;
	background-color: rgba(255, 0, 0, 0.12);
	border: 1px solid red;
	margin-bottom: 20px;
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
	text-decoration: none;
	background-color: transparent;
	box-sizing: border-box;
}